*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.navbar{
  position:fixed;
  top:20px;
  left:50%;
  transform:translateX(-50%);
  width:90%;
  height:70px;
  padding:0 35px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  background:rgba(170,160,160,0.85);
  border-radius:50px;
  backdrop-filter:blur(10px);
  z-index:1000;
}

.nav-left img{
  height:120px;
}

.nav-right{
  display:flex;
  gap:35px;
}

.nav-right a{
  text-decoration:none;
  color:#000;
  font-size:14px;
  letter-spacing:1px;
  font-weight:500;
  transition:0.3s;
}

.nav-right a:hover{
  color:#fff;
}

.menu-icon{
  display:none;
  font-size:26px;
  cursor:pointer;
  color:#000;
}

@media(max-width:992px){
  .navbar{
    padding:0 25px;
  }

  .nav-right{
    gap:25px;
  }
}

@media(max-width:768px){
  .menu-icon{
    display:block;
  }

  .nav-right{
    position:fixed;
    top:0;
    right:-100%;
    width:260px;
    height:100vh;
    background:#fff;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:30px;
    transition:0.4s ease;
    box-shadow:-10px 0 30px rgba(0,0,0,0.2);
  }

  .nav-right.active{
    right:0;
  }

  .nav-right a{
    font-size:16px;
  }
}
