/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR CONTAINER */
.navbar {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 70px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(170, 160, 160, 0.8);
  border-radius: 50px;
  backdrop-filter: blur(10px);
  z-index: 100;
}

/* LEFT LOGO */
.nav-left img {
  height: 110px;
  margin-top: 5px;
}

/* RIGHT LINKS */
.nav-right {
  display: flex;
  gap: 35px;
}

.nav-right a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-right a:hover {
  color: #dce0df;
}
