.about-hero {
  position: relative;
  width: 100%;
  height: 420px;
  overflow: hidden;
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.about-content {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 56px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
}

.secondabout {
  padding: 120px 8%;
  background: #fff;
}

.about-wrapper {
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  gap: 70px;
  align-items: stretch;
}


.about-images {
  display: grid;
  gap: 20px;
}

.about-images img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 18px;
  
}

.about-text {
  font-family: 'Playfair Display', serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-text h6 {
  color: #d4a24c;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.about-text h2 {
  font-size: 40px;
  font-weight: 700;
  color: #111;
  margin-bottom: 120px;
}

.about-text p {
  font-size: 16px;
  color: #555;
  line-height: 1.9;
  margin-bottom: 11px;
}

.about-stats {
  padding: 80px 8%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  background: #fff;
}

.stats-box {
  height: 100px;
  border: 1px solid #222;
  padding: 40px 20px;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.stats-box h2 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #111;
  margin-top: -30px;
}

.stats-box p {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #555;
}
