.hero {
  position: relative;
  width: 100%;
  height: 750px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 340px;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 20px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.25);
}

.content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content h6 {
  font-family: 'Great Vibes', cursive;
  font-size: 34px;
  margin-top: 500px;
  color: #333;
}

.content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 64px;
  color: #111;
}

/* ================= ABOUT ================= */

.about {
  padding: 140px 80px;
  display: flex;
  gap: 80px;
  align-items: center;
}

.Second {
  width: 600px;
  height: 360px;
  border-radius: 22px;
  overflow: hidden;
  box-shadow: 0 30px 70px rgba(0, 0, 0, 0.35);
}

.Second img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.secondpara {
  font-family: 'Playfair Display', serif;
}

.secondpara h6 {
  color: #d4a24c;
  text-transform: uppercase;
  font-size: 25px;
}

.secondpara h2 {
  font-size: 20px;
  margin: 20px 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
}

.secondpara h5 {
  border-left: 4px solid #d4a24c;
  padding-left: 14px;
  margin-bottom: 20px;
  font-style: italic;
  font-size: 20px;
}

.secondpara h4 {
  color: #555;
  line-height: 1.8;
  font-size:20px;
}


.features-section {
  background: #fff4e8;
  padding: 90px 8%;
  display: flex;
  gap: 40px;
  text-align: center;
}

.feature-card {
  flex: 1;
  font-family: 'Playfair Display', serif;
}

.feature-icon {
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 50%;
  margin: 0 auto 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #d4a24c;
  box-shadow: 0 18px 40px rgba(0,0,0,0.15);
}

.feature-card h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.feature-card p {
  font-size: 15px;
  line-height: 1.8;
  color: #555;
}



.site-footer {
  background: #fff;
  border-top: 1px solid #e5e5e5;
  font-family: 'Playfair Display', serif;
  margin-top: 80px;
}

.footer-container {
  padding: 60px 8%;
  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr 1.2fr;
  gap: 40px;
}

.footer-logo {
  width: 150px;
  margin-bottom: 20px;
}

.footer-social i {
  width: 38px;
  height: 38px;
  background: #d4a24c;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-social i:hover {
  background: #111;
}

.site-footer h3 {
  font-size: 20px;
  margin-bottom: 18px;
  color: #111;
}

.site-footer ul {
  list-style: none;
}

.site-footer ul li {
  font-size: 15px;
  color: #555;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.site-footer ul li:hover {
  color: #d4a24c;
  padding-left: 5px;
}

.site-footer p {
  font-size: 15px;
  color: #555;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.site-footer p i {
  color: #d4a24c;
  font-size: 18px;
}

.footer-bottom {
  text-align: center;
  padding: 18px;
  font-size: 14px;
  color: #777;
  border-top: 1px solid #eee;
}